dnd-order-list-box {
	font-size: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
dnd-order-list-box row {
	margin: 0;
	padding: .75em 0;
	min-height: 2.5em;
}
dnd-order-list-box row:hover .handle_icon{
	opacity:1;
}
dnd-order-list-box row .handle_icon{
	opacity:0;
}
dnd-order-list-box row.dragged:selected{
	background-color: alpha(@theme_selected_bg_color,0.1);
	opacity:0.2;
}
dnd-order-list-box row:selected {
	background-color: alpha(@theme_selected_bg_color,0.2);
	box-shadow: inset 0 0 0 0.15em @theme_selected_bg_color;
}
dnd-order-list-box row:drop(active){
	box-shadow: none;
}
dnd-order-list-box row .dragging{
	background-color: alpha(@theme_selected_bg_color,0.2);
	box-shadow: inset 0 0 0 0.15em alpha(@theme_selected_bg_color,0.2);
}
dnd-order-list-box row.place_up {
	box-shadow: inset 0 2.3em 0 -1.6em @theme_selected_bg_color,0 -.7em 0 0 @theme_selected_bg_color;
}
dnd-order-list-box row.place_dn {
	box-shadow: inset 0 -2.3em 0 -1.6em @theme_selected_bg_color,0 .7em 0 0 @theme_selected_bg_color;
}
